@import "./variables.scss";

.flex {
  display: flex;
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  align-self: flex-end;
}

.center {
  align-items: center;
}

.ma-8 {
  margin: $spacer;
}

.mx-8 {
  margin-left: $spacer;
  margin-right: $spacer;
}

.pa-16 {
  padding: $double-spacer;
}

.mt-48 {
  margin-top: 3 * $double-spacer;
}

.border {
  border: solid 1px $border-color;
}

@media only screen and (max-width: $breakpoint) {
  .xs-column-reverse {
    flex-direction: column-reverse;
  }
  .xs-column {
    flex-direction: column;
  }
  .xs-mt-8 {
    margin-top: $spacer;
  }
}
