.container {
  max-width: 960px;
  margin: auto;
  padding: 16px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  align-self: flex-end;
}

.center {
  align-items: center;
}

.my-8 {
  margin: 8px 0px;
}

.pa-16 {
  padding: 16px;
}

.border {
  border: solid 1px black;
}

.document-width {
  width: 300px;
}

@media only screen and (max-width: 960px) {
  .document-width {
    width: 100%;
  }
}
