$spacer: 8px;
$double-spacer: 16px;
$border-color: black;
$accent-color: #c4d4fc;
$hover-color: #9bb8ff;
$disabled-color: rgb(182, 182, 182);
$muted-color: #f4f4f4;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Globals
main {
  max-width: 960px;
  margin: auto;
  padding-top: 2 * $double-spacer;
}

button {
  border: solid 1px $border-color;
  background-color: $accent-color;
  display: block;
  min-height: 2 * $double-spacer;
  min-width: 6 * $double-spacer;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }

  &:disabled {
    cursor: initial;
    background-color: $disabled-color;
  }
}

input[type="text"] {
  height: 2 * $double-spacer;
  width: #{"min(100%, 400px)"};
  font-size: 1em;
  border: solid 1px $border-color;
  background-color: $muted-color;
  border-radius: 0;
  padding-left: $spacer;
}

input[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;

  + label {
    width: 150px;
    border: solid 1px $border-color;
    background-color: $accent-color;
    display: block;
    text-align: center;
    padding: $spacer;
  }

  &:focus + label,
  + label:hover {
    cursor: pointer;
    background-color: $hover-color;
  }

  &:disabled + label {
    cursor: initial;
    background-color: $disabled-color;
  }
}

// Utils
.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  align-self: flex-end;
}

.center {
  align-items: center;
}

.ma-8 {
  margin: $spacer;
}

.pa-16 {
  padding: $double-spacer;
}

.mt-16 {
  margin-top: $double-spacer;
}

.border {
  border: solid 1px $border-color;
}

// Component specific
.Spinner {
  > div {
    width: $spacer;
    height: $spacer;
    background-color: $border-color;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    animation: bounce-delay 1.4s infinite ease-in-out both;
    text-align: center;
  }

  div:nth-child(1) {
    animation-delay: -0.32s;
  }

  div:nth-child(2) {
    animation-delay: -0.16s;
  }
}

@keyframes bounce-delay {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.resource-preview-width {
  width: 302px;
}

@media only screen and (max-width: 960px) {
  .resource-preview-width {
    width: 100%;
  }
}
